section.features {
    padding-block: 40px;

    .container {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 100px;

        .heading {
            h1 {
                line-height: 1.2;
                font-size: clamp(20px, 6vw, 35px);
            }

            p {
                font-size: 18px;
            }
        }

        .content {
            display: flex;
            gap: 40px;
            flex-direction: column;

            .feature {
                align-items: center;
                display: flex;
                justify-content: space-between;

                h3 {
                    font-size: 21px;
                    max-width: 200px;
                }

                p {
                    max-width: 350px;
                }
            }
        }

        @media (width <= 1199px) {
            & {
                gap: 60px;
                grid-template-columns: 1fr;
            }
        }

        @media (width <= 660px) {
            .content .feature {
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;

                h3 {
                    font-size: 20px;
                }

                p,
                h3 {
                    max-width: none;
                }
            }
        }
    }
}
