// Imports
@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

* {
    padding: 0;
    margin: 0;
    @include vendor-prefixes("box-sizing", border-box);
}

a,
button,
input {
    all: unset;
    cursor: pointer;
}

body {
    color: white;
    font-family: 'Manrope', sans-serif;
    background-color: $bg;
    background-image: radial-gradient(circle at 3% 20%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: auto;
    padding-inline: 20px;

    /* Small */
    @media (min-width: 768px) {
        & {
            width: 750px;
        }
    }

    /* Medium */
    @media (width >=992px) {
        & {
            width: 970px;
        }
    }

    /* Large */
    @media (width >=1200px) {
        & {
            width: 1170px;
        }
    }
}

.orange-btn {
    background-color: $orange;
    transition: background-color $duration;

    &:hover {
        background-color: rgba($color: $orange, $alpha: 0.8);
    }
}

.gradient {
    background-image: $gradient-text;
    color: transparent;
    @include vendor-prefixes("background-clip", text);
}

.gradient-before {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -12px;
        left: 0;
        height: 4px;
        width: 40px;
        box-shadow:  4px 4px rgb(0 0 0 / 25%);
        background-image: $gradient-bar;
    }
}

.extra-bold {
    font-weight: 900;
}

.light-orange {
    color: $light-orange;
}